body {
    background-color: #EFEFF2;
    margin: 0;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;
}
.inter-extrabold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    /* font-size: 68px; */
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    /* font-size: 68px; */
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
.inter-semibold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-size: 16px; */
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* font-size: 16px; */
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.container {
    width: 1440px;
    margin: 0 auto;
    /* background-color: aquamarine; */
    /* background-color: darkslategrey; */

}
.header {
    display: flex;
    padding: 36px 0 0;
    justify-content: space-between;
}
.header__box {
    display: flex;
    align-items: center;
    gap: 68px;
}
.nav__list {
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    /* font-weight: 600; */
}
.link {
    color: #19191C;
    text-decoration: none;
}
.btn-box {
    display: flex;
    gap: 48px;
    align-items: center;
}
.logo {
    /* font-weight: 800; */
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
}
.header__link {
    color: #19191C;
    font-size: 18px;
    line-height: 22px;
    /* font-weight: 600; */
    text-decoration: none;
}
.header__btn {
    background: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    /* font-weight: 700; */
}
.offer {
    display: flex;
    justify-content: space-between;
}
.offer__holder {
    width: 648px;
}
.offer__title {
    font-size: 58px;
    line-height: 78px;
    /* font-weight: 700; */
}
/* FOOTER */
.footer {
    background-color: #19191C;
    color: white;
    /* padding-top: 59px; */
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer a {
    color: white;
    text-decoration: none;
    /* padding: 0; */
    /* margin: 0; */
}
.footer p {
    margin: 0;
}
.footer__main {
    padding-top: 59px;
    /* padding-bottom: 140px; */
    position: relative;
}
.footer__content {
    display: flex;
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.contacts a {
    display: block;
}
.contacts-mail {
    padding-top: 48px;
}
.contacts-tel {
    padding-top: 28px;
}
.container {
    /* background-color: darkslategrey; */
}
.sitemap {
    /* background-color: #2b2424; */
}
.contacts-block {
    /* background-color: #524242; */
}
.sitemap__section {
    display: flex;
    gap: 200px;
    padding-left: 146px;
}
.sitemap__title {
    /* background-color: #4b0202; */
    margin: 0;
    padding-top: 9px;
    padding-bottom: 28px;
}
.footer li {
    padding-bottom: 12px;
}
.footer li:last-child {
    padding-bottom: 140px;
}
.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.copyright__content {
    display: flex;
    justify-content: center;
    gap: 28px;
    /* background-color: #4b0202; */
    
}

. {

}
. {

}
. {

}


















































































































































































































































































































































































































































