body {
    background-color: #EFEFF2;
    margin: 0;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;
}
.inter-extrabold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
.inter-semibold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    padding: 36px 0 0;
    justify-content: space-between;
}
.header__box {
    display: flex;
    align-items: center;
    gap: 68px;
}
.nav__list {
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    /* font-weight: 600; */
}
.link {
    color: #19191C;
    text-decoration: none;
}
.btn-box {
    display: flex;
    gap: 48px;
    align-items: center;
}
.logo {
    /* font-weight: 800; */
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
}
.header__link {
    color: #19191C;
    font-size: 18px;
    line-height: 22px;
    /* font-weight: 600; */
    text-decoration: none;
}
.header__btn {
    background: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    /* font-weight: 700; */
}
.offer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* ! */
    padding-bottom: 230px;   /* ! */
    background: url(../img/hero-bg.png) 100% 100% no-repeat;
    position: relative;
}
.offer__holder {
    width: 648px;
    /* padding-top: 80px; ! */
    background: url(../img/round-left.png) 100% 100% no-repeat;
}
.offer__link {
    /* font-weight: 700; */
    text-decoration: none;  /* ! */
    color: #504DEE;       /* ! */
}
.offer__title {
    font-size: 58px;
    line-height: 78px;
    /* font-weight: 700; */
    margin: 197px 0 18px;
}
.offer__description {
    font-size: 18px;    /* ! */
    line-height: 28px;  /* ! */
    margin: 0 0 62px;   /* ! */
}
.button {
    background: #504DEE;
    color: #FBFBFC;
    border: none;
    padding: 16px 37px;
    font-size: 18px;
    line-height: 22px;
    /* font-weight: 700; */
    margin: 0 0 110px;
}
.offer__sale {
    /* font-weight: 700; */
    font-size: 58px;
    line-height: 70px;
    margin: 0 0 8px;
}
.offer__time {
    font-size: 18px;
    line-height: 22px;
    /* font-weight: 700; */
    margin: 0;
}
.offer__hero-man {
    position: absolute;
    top: 288px;
    left: 410px;
}
.offer__list {
    /* align-self: flex-end; */
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    position: relative;
}
.offer__list::after {
    content: "";
    position: absolute;
    width: 404px;
    height: 404px;
    top: 202px;
    right: -202px;
    z-index: -1;
    background: url(../img/round-right.png) no-repeat; 
    background-position: center center;
    transform: rotate(-30deg);
    filter: blur(50px);
}
.offer__item {
    position: absolute;
    border: 2px solid #19191C;
    padding: 16px 36px;
    /* font-weight: 600; */
    font-size: 18px;
    line-height: 28px;
}
.offer__marketer {    
    top: 244px;
    right: 0px;
}
.offer__illustrator {
    top: 148px;
    left:  412px;
}
.offer__animator {
    top: 230px;
    left: 178px;
}
.offer__programmer {
    top: 423px;
    left: 42px;
}
.offer__designer {
    top: 586px;
    left: -81px;
}
.offer__photographer {
    top: 770px;
    left: 12px;
}
.learn {
    background: #19191C;
    color: #FBFBFC;
    padding: 168px 0 159px;
    position: relative; /* for offer__hero-man z-index */
}
.learn__section {
    display: flex;
    justify-content: space-between;
}
.learn__title {
    /* font-weight: 700; */
    font-size: 58px;
    line-height: 1;
    color: #FBFBFC;
    margin: 0 0 28px;
}
.learn__description {
    /* font-weight: 400; */
    font-size: 18px;
    line-height: 28px;
    color: #EFEFF2;
    margin: 0 0 24px;
    max-width: 588px;
}
.learn__counters {
    display: flex;
    gap: 86px;
}
.learn__counter-item {
    width: 178px;
    height: 119px;
    border-bottom: 5px solid #FBFBFC;
    box-sizing: border-box;
}
.learn__counter-number {
    /* font-weight: 700; */
    font-size: 58px;
    line-height: 1;
    color: #FBFBFC;
    margin: 0;
}
.learn__counter-description {
    /* font-weight: 400; */
    font-size: 18px;
    line-height: 28px;
    color: #EFEFF2;
    margin: 8px 0 0px;
}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}. {

}
. {

}
. {

}
. {

}
. {

}
. {

}




/* FOOTER */
.footer {
    background-color: #19191C;
}
.footer a {
    text-decoration: none;
    color: #EFEFF2;
    font-size: 18px;
    line-height: 28px;
}
.footer__container {
    padding-top: 59px;
}
.footer__content {
    display: flex;
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.contacts-block > .footer__logo { 
    color: #FBFBFC;
    font-size: 18px;
    line-height: 1;
}
.contacts-mail {
    display: block;
    padding-top: 48px;
}
.contacts > .contacts-mail,
.contacts > .contacts-tel {
    color: #FBFBFC;
    font-size: 24px;
    line-height: 1;
}
.contacts-tel {
    display: block;
    padding-top: 28px;
}
.sitemap {
    display: flex;
    gap: 200px;
    padding-left: 146px;
}
.sitemap__title {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 28px;
    color: #FBFBFC;
    font-size: 18px;
    line-height: 1;
}
.sitemap__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sitemap__list-item {
    padding-bottom: 12px;
}
.sitemap__list-item:last-child {
    padding-bottom: 140px;
}
.copyright {
    display: flex;
    justify-content: center;
}
.copyright__content {
    display: flex;
    gap: 28px;
    color: #6D6D77;
    font-size: 18px;
    line-height: 28px;
}
.copyright__rights {
    margin: 0;
}
.copyright__content > a {
    color: #6D6D77;
    font-size: 18px;
    line-height: 28px;
}
/* FOOTER END */







/* . {

}
. {

}
. {

} */

/* .container { */
    /* background-color: aquamarine; */
    /* background-color: darkslategrey; */
/* } */
/* .sitemap div { */
    /* background-color: #2b2424; */
/* } */
/* .contacts-block { */
    /* background-color: #524242; */
/* } */
/* .sitemap__title { */
    /* background-color: #4b0202; */
/* } */
/* .copyright { */
    /* background-color: #f38f8f;   */
/* } */
/* --------- OK --------- */
/* style="display: none;" */
/* .offer__holder { */
    /* background-color: #f38f8f;   */
/* } */
/* .offer { */
    /* background-color: #97f38f;   */
/* } */
/* .offer { */
    /* background-color: #f38f8f;   */
/* } */
/* body { */
    /* background-color: #ababff; */
/* } */
/* .header { */
    /* background-color: #ababff; */
/* } */










































































































































































































































































































































































































































